.App {
  background: #000;
  height: 2rem;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2.5rem;
}

nav {
  max-width: 100%;
  background: #000;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin: 0  1rem;
}

.btn {
  margin-top: 1.5rem;
}

.persona {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.person {
  margin: 1rem;
  padding: 1.5rem;
}